.loading-yellow .pace {
  background-color: #e3a22b;
}
.loading-yellow #main-container div#loading {
  background-color: #fccd1f;
}
.loading-blue .pace {
  background-color: #005c7c;
}
.loading-blue #main-container div#loading {
  background-color: #6897c3;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  width: 200px;
  background-color: #fde68f;
  overflow: hidden;
  border-radius: 5px;
}
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 600px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #fff;
}
.pace.pace-inactive {
  display: none;
}
body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px !important;
  padding: 0;
  margin: 0;
}
#header-main-nav {
  border-bottom: solid 2px white;
}
#page {
  width: 100%;
}
#progress_bar_dialog {
  display: none;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('/css/standmixer/font/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), url('/css/standmixer/font/Avenir-Heavy.woff') format('woff'), url('/css/standmixer/font/Avenir-Heavy.ttf') format('truetype'), url('/css/standmixer/font/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('/css/standmixer/font/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('/css/standmixer/font/Avenir-Medium.woff') format('woff'), url('/css/standmixer/font/Avenir-Medium.ttf') format('truetype'), url('/css/standmixer/font/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
#main-container {
  border: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Medium', 'Helvetica', Arial, sans-serif;
  letter-spacing: -0.2px;
  z-index: 1;
  position: relative;
  width: 100%;
  color: white;
  overflow-x: hidden;
  font-size: 13pt;
}
#main-container div,
#main-container span,
#main-container object,
#main-container iframe,
#main-container img,
#main-container table,
#main-container caption,
#main-container thead,
#main-container tbody,
#main-container tfoot,
#main-container tr,
#main-container tr,
#main-container td,
#main-container article,
#main-container aside,
#main-container canvas,
#main-container details,
#main-container figure,
#main-container hgroup,
#main-container menu,
#main-container nav,
#main-container footer,
#main-container header,
#main-container section,
#main-container summary,
#main-container mark,
#main-container audio,
#main-container video {
  border: 0;
  margin: 0;
  padding: 0;
}
#main-container h1,
#main-container h2,
#main-container h3,
#main-container h4,
#main-container h5,
#main-container h6,
#main-container p,
#main-container blockquote,
#main-container pre,
#main-container a,
#main-container abbr,
#main-container address,
#main-container cit,
#main-container code,
#main-container del,
#main-container dfn,
#main-container em,
#main-container ins,
#main-container q,
#main-container samp,
#main-container small,
#main-container strong,
#main-container sub,
#main-container sup,
#main-container b,
#main-container i,
#main-container hr,
#main-container dl,
#main-container dt,
#main-container dd,
#main-container ol,
#main-container ul,
#main-container li,
#main-container fieldset,
#main-container legend,
#main-container label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  float: none;
}
#main-container ul {
  list-style: none;
}
#main-container h1 {
  font-size: 2em;
}
#main-container h2 {
  font-size: 1.5em;
}
#main-container h3 {
  font-size: 1.17em;
}
#main-container h4 {
  font-size: 1em;
}
#main-container h5 {
  font-size: .83em;
}
#main-container h6 {
  font-size: .67em;
}
#main-container sup {
  font-size: 0.7em;
  position: relative;
  bottom: 0.5em;
}
#main-container article,
#main-container aside,
#main-container canvas,
#main-container figure,
#main-container figure img,
#main-container figcaption,
#main-container hgroup,
#main-container footer,
#main-container header,
#main-container nav,
#main-container section,
#main-container audio,
#main-container video {
  display: block;
}
#main-container table {
  border-collapse: separate;
  border-spacing: 0;
}
#main-container table caption,
#main-container table th,
#main-container table td {
  text-align: left;
  vertical-align: middle;
}
#main-container * {
  color: white;
}
#main-container a {
  text-decoration: none;
}
#main-container a img {
  border: 0;
}
#main-container :focus {
  outline: 0;
}
#main-container h1,
#main-container h2,
#main-container h3,
#main-container h4,
#main-container h5,
#main-container h6 {
  font-family: 'Avenir-Heavy', 'Helvetica', Arial, sans-serif;
  font-weight: 700;
}
#main-container #loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fccd1f;
  z-index: 200;
}
#main-container .mixer-header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
#main-container .mixer-header > div {
  position: relative;
  height: 47px;
  margin: 20px 40px;
  border-bottom: 2px solid white;
}
#main-container .mixer-header .title {
  float: left;
}
#main-container .mixer-header .social {
  float: right;
}
#main-container .mixer-header .social li:first-child {
  width: initial;
  height: initial;
  border: none;
  background: transparent;
  cursor: initial;
  margin-right: 20px;
  font-size: 0.8em;
}
#main-container .mixer-header .social li:first-child p {
  line-height: 39px;
}
#main-container .mixer-header .social li:first-child:hover {
  background-color: transparent;
}
#main-container .mixer-header .social li {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid white;
  margin-right: 8px;
  background: url(/images/standmixer/social.png);
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  /* Safari */
  transition: background-color 0.3s;
}
#main-container .mixer-header .social li div {
  height: 100%;
  width: 100%;
  border-radius: 35px;
}
#main-container .mixer-header .social li:last-child {
  margin-right: 0px;
}
#main-container .mixer-header .social li:hover {
  background-color: white;
}
#main-container .mixer-header .social .fb {
  background-position: -1px 0px;
}
#main-container .mixer-header .social .tw {
  background-position: 0px 105px;
}
#main-container .mixer-header .social .in {
  background-position: 0px 70px;
  display: none;
}
#main-container .mixer-header .social .pin {
  background-position: 0px 35px;
}
#main-container .mixer-panel {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 1;
}
#main-container .mixer-panel > div {
  margin: 0px 40px;
}
#main-container .mixer-panel > div > * {
  z-index: 2;
}
#main-container .mixer-panel .mixer-header {
  position: relative;
  margin: 0;
  padding-top: 10px;
}
#main-container .mixer-panel .mixer-header > div {
  margin: 0px 40px;
}
#main-container .mixer-panel .mixer-header .back-to-top {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  cursor: pointer;
}
#main-container .mixer-panel .mixer-header .back-to-top img {
  margin-right: 6px;
  width: 12px;
  float: left;
}
#main-container .mixer-panel .mixer-header .back-to-top div {
  margin-top: -3px;
  float: right;
}
#main-container .mixer-panel h4.title {
  position: absolute;
  top: 70px;
  left: 0;
  margin-left: 40px;
}
#main-container .mixer-panel .title {
  position: relative;
}
#main-container .mixer-panel .copy {
  display: none;
  position: relative;
  font-size: 0.9em;
  max-width: 280px;
  margin: 125px 0 0 20px;
}
#main-container .mixer-panel .available-in {
  position: absolute;
  font-size: 0.8em;
  margin-left: 20px;
  bottom: 30px;
}
#main-container .mixer-panel .available-in div {
  width: 100%;
  border-bottom: solid 1px white;
}
#main-container .mixer-panel .available-in div:first-child {
  margin-bottom: 2px;
}
#main-container .mixer-panel .available-in div:last-child {
  border-bottom: initial;
}
#main-container .mixer-panel .categories {
  position: absolute;
  right: 0;
  top: 70px;
  list-style: none;
  margin-right: 40px;
}
#main-container .mixer-panel .categories .selected {
  border-radius: 5px;
  background-color: white;
  color: #fccd1f;
  cursor: initial;
}
#main-container .mixer-panel .categories li:first-child {
  padding: 0px;
  cursor: initial;
}
#main-container .mixer-panel .categories li {
  margin-bottom: 15px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .categories li a {
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .categories li:not(.title):hover {
  border-radius: 5px;
  background-color: white;
  color: #fccd1f;
}
#main-container .mixer-panel .categories li:not(.title):hover a {
  color: #fccd1f;
}
#main-container .mixer-panel .menu {
  position: absolute;
  list-style: none;
  padding-left: 20px;
  top: 130px;
}
#main-container .mixer-panel .menu li {
  float: left;
  width: auto;
}
#main-container .mixer-panel .menu .make-button {
  position: relative;
  margin-right: 5px;
}
#main-container .mixer-panel .cta-button {
  position: absolute;
  bottom: 40px;
  height: 18px;
  right: 0;
  margin-right: 40px;
  font-size: 0.8em;
  cursor: pointer;
  border-bottom: solid 1px white;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .cta-button a {
  color: inherit;
}
#main-container .mixer-panel .cta-button:hover {
  color: #e3a22b;
  border-bottom: solid 1px #e3a22b;
}
#main-container .mixer-panel .make-button {
  position: absolute;
  bottom: 30px;
  right: 0;
  margin-right: 40px;
  font-size: 0.8em;
  border: solid 1px white;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .make-button:hover {
  background-color: white;
  color: #fccd1f;
}
#main-container .mixer-panel .make-button.selected {
  background-color: white;
  cursor: default;
}
#main-container .mixer-panel .mixer {
  position: absolute;
  top: 0;
  height: 700px;
  left: 51%;
  margin-left: -350px;
  z-index: 1;
}
#main-container .mixer-panel .mixer img {
  position: absolute;
  top: 0;
  display: none;
  height: inherit;
}
#main-container .mixer-panel .mixer img.selected {
  display: block;
}
#main-container .mixer-panel .mixer-dot-nav {
  left: 50%;
  margin-left: -240px;
  bottom: 32%;
  position: absolute;
  z-index: 150;
}
#main-container .mixer-panel .mixer-dot-nav .selected div {
  background-color: white;
  cursor: initial;
}
#main-container .mixer-panel .mixer-dot-nav li {
  margin-top: 8px;
}
#main-container .mixer-panel .mixer-dot-nav div {
  border: 1px solid white;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .mixer-nav {
  position: absolute;
  top: 22.7%;
  z-index: 5;
  left: 50%;
  margin-left: -154px;
}
#main-container .mixer-panel .mixer-nav .nav-left,
#main-container .mixer-panel .mixer-nav .nav-right {
  background: url(/images/standmixer/mixer-nav.png);
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}
#main-container .mixer-panel .mixer-nav .nav-left:hover,
#main-container .mixer-panel .mixer-nav .nav-right:hover {
  opacity: 0.7;
}
#main-container .mixer-panel .mixer-nav > * {
  float: left;
}
#main-container .mixer-panel .mixer-nav > *:not(img) {
  margin: 0 1px;
  line-height: 20px;
}
#main-container .mixer-panel .infobox {
  position: absolute;
  right: 0;
  margin-right: 40px;
  width: 340px;
  height: 400px;
  top: 170px;
  display: none;
}
#main-container .mixer-panel .infobox .infomenu {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#main-container .mixer-panel .infobox .infomenu .selected {
  border: 1px solid white;
  border-bottom: none;
  margin-right: 0px;
  font-weight: 600;
  cursor: default;
  height: 27px;
  border-radius: 5px 5px 0 0;
}
#main-container .mixer-panel .infobox .infomenu li:not(.selected) > div {
  display: none;
}
#main-container .mixer-panel .infobox .infomenu li {
  height: 25px;
  float: left;
  margin-right: 5px;
  border: 2px transparent;
  cursor: pointer;
}
#main-container .mixer-panel .infobox .infomenu li > * {
  float: left;
}
#main-container .mixer-panel .infobox .infomenu li > span:lang(fr) {
  font-size: 0.8em;
}
#main-container .mixer-panel .infobox .infomenu li > span {
  margin: 0 12px;
}
#main-container .mixer-panel .infobox .infomenu li:last-child {
  margin-right: 0px;
}
#main-container .mixer-panel .infobox .content {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  top: 27px;
  font-size: 0.9em;
  position: absolute;
  z-index: 1;
}
#main-container .mixer-panel .infobox .content > div {
  display: none;
  width: 310px;
  height: 255px;
  padding: 10px 15px;
  position: absolute;
}
#main-container .mixer-panel .infobox .content .info > div:first-child {
  height: 30px;
  border-bottom: 1px solid white;
}
#main-container .mixer-panel .infobox .content .info > div .title {
  float: left;
  text-transform: uppercase;
  top: 0;
  left: 0;
  position: relative;
  font-size: 1em;
  margin-left: 0px;
}
#main-container .mixer-panel .infobox .content .info > div .price {
  float: right;
}
#main-container .mixer-panel .infobox .content .info .one li {
  width: 87%;
}
#main-container .mixer-panel .infobox .content .info .one li span {
  top: 28px;
}
#main-container .mixer-panel .infobox .content .info .two {
  margin-top: 10px;
  width: 47%;
  float: right;
}
#main-container .mixer-panel .infobox .content .info .two li {
  height: 51px;
  padding: 3px 10px;
  margin-left: 11px;
}
#main-container .mixer-panel .infobox .content .info .two li span {
  top: 17px;
}
#main-container .mixer-panel .infobox .content .info .two li span.break {
  top: 9px;
}
#main-container .mixer-panel .infobox .content .info .three li {
  width: 28%;
}
#main-container .mixer-panel .infobox .content .info .feature {
  float: left;
  height: 280px;
  margin-top: 12%;
}
#main-container .mixer-panel .infobox .content .info ul {
  margin-top: 23px;
  position: relative;
}
#main-container .mixer-panel .infobox .content .info ul img {
  float: right;
}
#main-container .mixer-panel .infobox .content .info ul span {
  position: absolute;
}
#main-container .mixer-panel .infobox .content .info ul li {
  position: relative;
  width: 87%;
  float: left;
  font-size: 0.8em;
  padding: 10px 20px;
}
#main-container .mixer-panel .infobox .content .tips > div > div {
  border-bottom: 1px solid white;
  padding-bottom: 6px;
}
#main-container .mixer-panel .infobox .content .tips > div > p {
  margin-top: 5px;
}
#main-container .mixer-panel .infobox .content .tips ul {
  list-style: initial;
  padding-left: 20px;
  margin-top: 10px;
}
#main-container .mixer-panel .infobox .content .tips ul li:first-child {
  margin-left: -20px;
  list-style: none;
}
#main-container .mixer-panel .infobox .content .gallery .close {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 16px;
  text-align: center;
  line-height: 25px;
  border: 2px solid white;
  font-size: 1.6em;
  font-weight: 700;
  cursor: pointer;
  display: none;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
#main-container .mixer-panel .infobox .content .gallery .expanded img {
  width: 100%;
  position: absolute;
}
#main-container .mixer-panel .infobox .content .gallery .left,
#main-container .mixer-panel .infobox .content .gallery .right {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 18px;
  top: 189px;
  background: url(/images/standmixer/triangle-sheet.png);
  background-position: -19px 0;
}
#main-container .mixer-panel .infobox .content .gallery .right {
  left: 25px;
  top: 189px;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}
#main-container .mixer-panel .infobox .content .gallery .left {
  right: 25px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
#main-container .mixer-panel .infobox .content .gallery ul {
  height: 100%;
  margin-top: 18px;
}
#main-container .mixer-panel .infobox .content .gallery ul li {
  height: 37%;
  width: 30%;
  margin-right: 12px;
  margin-top: 12px;
  float: left;
  border: 1px solid white;
  cursor: pointer;
}
#main-container .mixer-panel .infobox .content .gallery ul li:nth-child(3n) {
  margin-right: 0;
}
#main-container .mixer-panel .infobox .content .gallery ul img {
  height: 100%;
}
#main-container .mixer-panel .infobox[data-id="1"] .content .info .attachment {
  width: 54%;
}
#main-container .mixer-panel .infobox[data-id="2"] .content .info .attachment {
  width: 41%;
}
#main-container .mixer-panel .infobox[data-id="3"] .content .info .attachment {
  width: 100%;
  padding-top: 30%;
}
#main-container .mixer-panel-1 {
  background-color: #fccd1f;
}
#main-container .mixer-panel-1 .mixer-header .title {
  height: 23px;
  bottom: 10px;
  position: absolute;
}
#main-container .mixer-panel-1 .mixer img {
  cursor: pointer;
}
#main-container .mixer-panel-1 .copy {
  display: block;
}
#main-container .mixer-panel-1 .copy p {
  margin-top: 4px;
}
#main-container .mixer-panel-1 .social .fb:hover {
  background-position: -36px 0px;
}
#main-container .mixer-panel-1 .social .tw:hover {
  background-position: -35px 105px;
}
#main-container .mixer-panel-1 .social .in:hover {
  background-position: -35px 70px;
}
#main-container .mixer-panel-1 .social .pin:hover {
  background-position: -35px 35px;
}
#main-container .mixer-panel-1 .mobile-title,
#main-container .mixer-panel-1 .mobile-content {
  background-color: #fccd1f;
}
#main-container .mixer-panel-2 {
  background-color: #6897c3;
}
#main-container .mixer-panel-2 .infobox > div {
  background-color: #6897c3;
}
#main-container .mixer-panel-2 .infobox .infomenu li {
  background-color: #6897c3;
}
#main-container .mixer-panel-2 .infobox .infomenu li div {
  background-color: #6897c3;
}
#main-container .mixer-panel-2 .infobox .content .gallery .close {
  border: 2px solid #6897c3;
  color: #6897c3;
}
#main-container .mixer-panel-2 .infobox .content .gallery .left,
#main-container .mixer-panel-2 .infobox .content .gallery .right {
  background-position: -19px 0;
}
#main-container .mixer-panel-2 .mixer-nav .nav-left {
  background-position: 0px 0px;
}
#main-container .mixer-panel-2 .mixer-nav .nav-right {
  background-position: 20px 0px;
}
#main-container .mixer-panel-2 .mixer-nav > * {
  color: #005c7c;
}
#main-container .mixer-panel-2 .make-button:hover,
#main-container .mixer-panel-2 .make-button.selected {
  color: #6897c3;
}
#main-container .mixer-panel-2 .cta-button:hover {
  color: #005c7c;
  border-bottom: solid 1px #005c7c;
}
#main-container .mixer-panel-2 .mobile-title,
#main-container .mixer-panel-2 .mobile-content {
  background-color: #6897c3;
}
#main-container .mixer-panel-2 .social .fb:hover {
  background-position: -71px 0px;
}
#main-container .mixer-panel-2 .social .tw:hover {
  background-position: -70px 105px;
}
#main-container .mixer-panel-2 .social .in:hover {
  background-position: -70px 70px;
}
#main-container .mixer-panel-2 .social .pin:hover {
  background-position: -70px 35px;
}
#main-container .mixer-panel-3 {
  background-color: #e12474;
}
#main-container .mixer-panel-3 .infobox > div {
  background-color: #e12474;
}
#main-container .mixer-panel-3 .infobox .infomenu li {
  background-color: #e12474;
}
#main-container .mixer-panel-3 .infobox .infomenu li div {
  background-color: #e12474;
}
#main-container .mixer-panel-3 .infobox .content .gallery .close {
  border: 2px solid #e12474;
  color: #e12474;
}
#main-container .mixer-panel-3 .infobox .content .gallery .left,
#main-container .mixer-panel-3 .infobox .content .gallery .right {
  background-position: -38px 0;
}
#main-container .mixer-panel-3 .mixer-nav .nav-left {
  background-position: 0px -20px;
}
#main-container .mixer-panel-3 .mixer-nav .nav-right {
  background-position: 20px -20px;
}
#main-container .mixer-panel-3 .mixer-nav > * {
  color: #920742;
}
#main-container .mixer-panel-3 .make-button:hover,
#main-container .mixer-panel-3 .make-button.selected {
  color: #e12474;
}
#main-container .mixer-panel-3 .cta-button:hover {
  color: #920742;
  border-bottom: solid 1px #920742;
}
#main-container .mixer-panel-3 .mobile-title,
#main-container .mixer-panel-3 .mobile-content {
  background-color: #e12474;
}
#main-container .mixer-panel-3 .social .fb:hover {
  background-position: -106px 0px;
}
#main-container .mixer-panel-3 .social .tw:hover {
  background-position: -105px 105px;
}
#main-container .mixer-panel-3 .social .in:hover {
  background-position: -105px 70px;
}
#main-container .mixer-panel-3 .social .pin:hover {
  background-position: -105px 35px;
}
#main-container .mixer-panel-3 .infobox[data-id="1"] .content .info .attachment {
  width: 80% !important;
  margin-left: 30px;
  float: none;
}
#main-container .mixer-panel-3 .infobox[data-id="4"] .content .info .attachment {
  width: 80% !important;
  margin-left: 30px;
  float: none;
  padding-top: 20px;
}
#main-container .mixer-panel-3 .infobox[data-id="3"] .content .info .attachment {
  width: 100% !important;
  margin-left: 0px;
  float: none;
  padding-top: 11%;
}
#main-container .mixer-panel-3 .infobox[data-id="2"] .content .info .attachment {
  width: 195px;
  margin: 12px 0 10px 55px;
}
#main-container .mixer-panel-3 .infobox[data-id="2"] .content .info > p {
  font-size: 8pt;
}
#main-container .mixer-panel-3 .infobox[data-id="2"] .content .info > div:nth-child(2) {
  border-bottom: 1px solid white;
}
#main-container .mixer-panel-3 .infobox[data-id="2"] .content .info > img {
  width: 100%;
  padding-top: 20px;
}
#main-container .mixer-panel-3 .menu {
  width: 300px;
}
#main-container .mixer-panel-3 .menu li:first-child,
#main-container .mixer-panel-3 .menu li:nth-child(2) {
  margin-bottom: 3px;
}
#main-container .mixer-panel-4 {
  background-color: #c8bc1a;
}
#main-container .mixer-panel-4 .infobox > div {
  background-color: #c8bc1a;
}
#main-container .mixer-panel-4 .infobox .infomenu li {
  background-color: #c8bc1a;
}
#main-container .mixer-panel-4 .infobox .infomenu li div {
  background-color: #c8bc1a;
}
#main-container .mixer-panel-4 .infobox .content .gallery .close {
  border: 2px solid #c8bc1a;
  color: #c8bc1a;
}
#main-container .mixer-panel-4 .infobox .content .gallery .left,
#main-container .mixer-panel-4 .infobox .content .gallery .right {
  background-position: -57px 0;
}
#main-container .mixer-panel-4 .mixer-nav .nav-left {
  background-position: 0px -40px;
}
#main-container .mixer-panel-4 .mixer-nav .nav-right {
  background-position: 20px -40px;
}
#main-container .mixer-panel-4 .mixer-nav > * {
  color: #8f8608;
}
#main-container .mixer-panel-4 .make-button:hover,
#main-container .mixer-panel-4 .make-button.selected {
  color: #c8bc1a;
}
#main-container .mixer-panel-4 .cta-button:hover {
  color: #8f8608;
  border-bottom: solid 1px #8f8608;
}
#main-container .mixer-panel-4 .mobile-title,
#main-container .mixer-panel-4 .mobile-content {
  background-color: #c8bc1a;
}
#main-container .mixer-panel-4 .social .fb:hover {
  background-position: -141px 0px;
}
#main-container .mixer-panel-4 .social .tw:hover {
  background-position: -140px 105px;
}
#main-container .mixer-panel-4 .social .in:hover {
  background-position: -140px 70px;
}
#main-container .mixer-panel-4 .social .pin:hover {
  background-position: -140px 35px;
}
#main-container .mixer-panel-4 .infobox[data-id="1"] .content .info .attachment,
#main-container .mixer-panel-4 .infobox[data-id="2"] .content .info .attachment {
  width: 140px;
  margin: 26px 0 27px 87px;
}
#main-container .mixer-panel-4 .infobox[data-id="1"] .content .info > p,
#main-container .mixer-panel-4 .infobox[data-id="2"] .content .info > p {
  font-size: 8pt;
}
#main-container .mixer-panel-4 .infobox[data-id="1"] .content .info > div:nth-child(2),
#main-container .mixer-panel-4 .infobox[data-id="2"] .content .info > div:nth-child(2) {
  border-bottom: 1px solid white;
}
#main-container .mixer-panel-4 .infobox[data-id="1"] .content .info > img,
#main-container .mixer-panel-4 .infobox[data-id="2"] .content .info > img {
  width: 100%;
  padding-top: 20px;
}
#main-container .mixer-panel-5 {
  background-color: #eb5a01;
}
#main-container .mixer-panel-5 .infobox > div {
  background-color: #eb5a01;
}
#main-container .mixer-panel-5 .infobox .infomenu li {
  background-color: #eb5a01;
}
#main-container .mixer-panel-5 .infobox .infomenu li div {
  background-color: #eb5a01;
}
#main-container .mixer-panel-5 .infobox .content .gallery .close {
  border: 2px solid #eb5a01;
  color: #eb5a01;
}
#main-container .mixer-panel-5 .infobox .content .gallery .left,
#main-container .mixer-panel-5 .infobox .content .gallery .right {
  background-position: -76px 0;
}
#main-container .mixer-panel-5 .mixer-nav .nav-left {
  background-position: 0px -60px;
}
#main-container .mixer-panel-5 .mixer-nav .nav-right {
  background-position: 20px -60px;
}
#main-container .mixer-panel-5 .mixer-nav > * {
  color: #ad4606;
}
#main-container .mixer-panel-5 .make-button:hover,
#main-container .mixer-panel-5 .make-button.selected {
  color: #eb5a01;
}
#main-container .mixer-panel-5 .cta-button:hover {
  color: #ad4606;
  border-bottom: solid 1px #ad4606;
}
#main-container .mixer-panel-5 .mobile-title,
#main-container .mixer-panel-5 .mobile-content {
  background-color: #eb5a01;
}
#main-container .mixer-panel-5 .social .fb:hover {
  background-position: -176px 0px;
}
#main-container .mixer-panel-5 .social .tw:hover {
  background-position: -175px 105px;
}
#main-container .mixer-panel-5 .social .in:hover {
  background-position: -175px 70px;
}
#main-container .mixer-panel-5 .social .pin:hover {
  background-position: -175px 35px;
}
#main-container .mixer-panel-5 .infobox[data-id="1"] .content .info .attachment {
  width: 60% !important;
  margin-left: 54px;
  float: none;
  padding-top: 20px;
}
#main-container .mixer-panel-5 .infobox[data-id="2"] .content .info .attachment {
  width: 60% !important;
  margin-left: 54px;
  float: none;
}
#main-container .mixer-panel-6 {
  background-color: #6ebbd7;
}
#main-container .mixer-panel-6 .infobox > div {
  background-color: #6ebbd7;
}
#main-container .mixer-panel-6 .infobox .infomenu li {
  background-color: #6ebbd7;
}
#main-container .mixer-panel-6 .infobox .infomenu li div {
  background-color: #6ebbd7;
}
#main-container .mixer-panel-6 .infobox .content .gallery .close {
  border: 2px solid #6ebbd7;
  color: #6ebbd7;
}
#main-container .mixer-panel-6 .infobox .content .gallery .left,
#main-container .mixer-panel-6 .infobox .content .gallery .right {
  background-position: -95px 0;
}
#main-container .mixer-panel-6 .mixer-nav .nav-left {
  background-position: 0px -80px;
}
#main-container .mixer-panel-6 .mixer-nav .nav-right {
  background-position: 20px -80px;
}
#main-container .mixer-panel-6 .mixer-nav > * {
  color: #0678ad;
}
#main-container .mixer-panel-6 .make-button:hover,
#main-container .mixer-panel-6 .make-button.selected {
  color: #6ebbd7;
}
#main-container .mixer-panel-6 .cta-button:hover {
  color: #0678ad;
  border-bottom: solid 1px #0678ad;
}
#main-container .mixer-panel-6 .mobile-title,
#main-container .mixer-panel-6 .mobile-content {
  background-color: #6ebbd7;
}
#main-container .mixer-panel-6 .social .fb:hover {
  background-position: -211px 0px;
}
#main-container .mixer-panel-6 .social .tw:hover {
  background-position: -210px 105px;
}
#main-container .mixer-panel-6 .social .in:hover {
  background-position: -210px 70px;
}
#main-container .mixer-panel-6 .social .pin:hover {
  background-position: -210px 35px;
}
#main-container .mixer-panel-6 .infobox[data-id="1"] .content .info .attachment {
  width: 70% !important;
  margin-left: 30px;
  float: none;
  padding-top: 20px;
}
#main-container .mixer-panel-7 {
  background-color: #f64258;
}
#main-container .mixer-panel-7 .infobox > div {
  background-color: #f64258;
}
#main-container .mixer-panel-7 .infobox .infomenu li {
  background-color: #f64258;
}
#main-container .mixer-panel-7 .infobox .infomenu li div {
  background-color: #f64258;
}
#main-container .mixer-panel-7 .infobox .content .gallery .close {
  border: 2px solid #f64258;
  color: #f64258;
}
#main-container .mixer-panel-7 .infobox .content .gallery .left,
#main-container .mixer-panel-7 .infobox .content .gallery .right {
  background-position: -114px 0;
}
#main-container .mixer-panel-7 .mixer-nav .nav-left {
  background-position: 0px -100px;
}
#main-container .mixer-panel-7 .mixer-nav .nav-right {
  background-position: 20px -100px;
}
#main-container .mixer-panel-7 .mixer-nav > * {
  color: #c2283a;
}
#main-container .mixer-panel-7 .make-button:hover,
#main-container .mixer-panel-7 .make-button.selected {
  color: #f64258;
}
#main-container .mixer-panel-7 .cta-button:hover {
  color: #c2283a;
  border-bottom: solid 1px #c2283a;
}
#main-container .mixer-panel-7 .mobile-title,
#main-container .mixer-panel-7 .mobile-content {
  background-color: #f64258;
}
#main-container .mixer-panel-7 .social .fb:hover {
  background-position: -246px 0px;
}
#main-container .mixer-panel-7 .social .tw:hover {
  background-position: -245px 105px;
}
#main-container .mixer-panel-7 .social .in:hover {
  background-position: -245px 70px;
}
#main-container .mixer-panel-7 .social .pin:hover {
  background-position: -245px 35px;
}
#main-container .mixer-panel-7 .mixer-nav {
  margin-left: 117px;
  top: 44.4%;
}
#main-container .mixer-panel-7 .infobox[data-id="1"] .content .info .attachment {
  width: 100% !important;
  margin-top: 45px;
  float: none;
}
#main-container .mixer-panel-7 .infobox[data-id="2"] .content .info .attachment {
  width: 100% !important;
  margin-top: 30px;
  float: none;
}
.no-mobile #main-container {
  min-width: 1366px;
}
@media (max-width: 1470px) {
  .no-mobile #main-container .mixer-panel .mixer {
    left: 47%;
  }
  .no-mobile #main-container .mixer-panel-1 .mixer-dot-nav {
    left: 47%;
  }
  .no-mobile #main-container .mixer-panel .mixer-nav {
    left: 47%;
    margin-left: -169px;
  }
  .no-mobile #main-container .mixer-panel-7 .mixer-nav {
    margin-left: 102px;
    top: 44.4%;
  }
}
.mobile .social .in {
  display: block !important;
}
.mobile #main-container {
  min-width: 375px;
}
.mobile #main-container .mixer-dot-nav {
  bottom: initial;
  margin-left: initial;
}
.mobile #main-container .mixer-dot-nav li {
  float: left;
  margin-left: 8px;
}
.mobile #main-container .mixer-dot-nav li div {
  width: 12px;
  height: 12px;
  border-radius: 24px;
}
.mobile #main-container .mixer-panel {
  height: 410px;
}
.mobile #main-container .mixer-panel > div {
  height: inherit;
}
.mobile #main-container .mixer-panel .mixer {
  height: 410px;
  left: 51%;
  margin-left: -205px;
}
.mobile #main-container .mobile-close {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.mobile #main-container .mobile-drawer {
  position: absolute;
  height: 382px;
  width: 290px;
  top: 13px;
  z-index: 100;
  font-size: 11pt;
}
.mobile #main-container .mobile-drawer h1,
.mobile #main-container .mobile-drawer h2,
.mobile #main-container .mobile-drawer h3,
.mobile #main-container .mobile-drawer h4,
.mobile #main-container .mobile-drawer h5,
.mobile #main-container .mobile-drawer h6 {
  font-size: 0.9em;
}
.mobile #main-container .mobile-drawer .mobile-title {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 42px;
}
.mobile #main-container .mobile-drawer .mobile-copy {
  padding: 20px;
}
.mobile #main-container .mobile-drawer .mobile-copy div {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 8px;
}
.mobile #main-container .mobile-drawer .mobile-content {
  position: absolute;
  display: none;
  border: 1px solid white;
  height: inherit;
  width: 289px;
  z-index: 1;
  overflow-y: scroll;
}
.mobile #main-container .mobile-drawer .mobile-content > div,
.mobile #main-container .mobile-drawer .mobile-content > ul {
  padding: 14px;
}
.mobile #main-container .mobile-drawer .selected {
  display: block;
}
.mobile #main-container .mobile-drawer-tips .mobile-content > div > div {
  border-bottom: 1px solid white;
  margin-bottom: 8px;
}
.mobile #main-container .mobile-drawer-tips .mobile-content > div ul {
  margin-top: 12px;
  list-style: initial;
}
.mobile #main-container .mobile-drawer-tips .mobile-content > div ul li:first-child {
  list-style: none;
}
.mobile #main-container .mobile-drawer-tips .mobile-content > div ul li:not(:first-child) {
  margin-left: 17px;
}
.mobile #main-container .mobile-drawer-tips .mobile-title {
  top: 106px;
}
.mobile #main-container .mobile-drawer-info .mobile-content > div {
  border-bottom: 1px solid white;
}
.mobile #main-container .mobile-drawer-info .mobile-content > div .title {
  float: left;
}
.mobile #main-container .mobile-drawer-info .mobile-content > div .price {
  float: right;
  font-weight: 700;
}
.mobile #main-container .mobile-drawer-info .mobile-title {
  top: 305px;
}
.mobile #main-container .mobile-drawer-left {
  left: -291px;
}
.mobile #main-container .mobile-drawer-left .mobile-title {
  right: -41px;
}
.mobile #main-container .mobile-drawer-right {
  right: -291px;
}
.mobile #main-container .mobile-drawer-right .mobile-title {
  left: -40px;
}
